footer {
	border-top: 1px solid rgba(182, 133, 80, 0.5);
	height: 300px;
	z-index:99;
	background-color: black;
	color: #B68550;
	font-family: helvetica;

	ul {
		float: left;
		margin: auto 0;
		font-size: 20px;
		margin: 100px 10px 0px 0px;
		padding: 0;
		
		li {
			list-style: none;
			margin-bottom: 20px;
		}
		a {
			color: #B68550;
		}

	}
}

.bf {
	background-color: black;
	color: #B68550;
}